package solvers

import (
	"fmt"
	"internal/utility"
)

type DayXSolver struct {
	Day uint
	InputSource string
}

func (s DayXSolver) Part1() string {

	input := utility.LoadInput(s.Day, s.InputSource)
	for _, line := range input {
		fmt.Println(line)
	}

	return "todo: implement Part1"
}

func (s DayXSolver) Part2() string {
	return "todo: implement Part2"
}